<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lyrics</title>
  </head>
  <body>
    <div style="text-align: center;">
      <h1><%= song %></h1>
      <p>by</p>
      <h3><%= artist %></h3>
      <pre><%= lyrics %></pre>
    </div>
  </body>
</html>
